# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


### CLion IDEA ###
.idea/
*.iml
*.xml

cmake-build-debug/
tests/lib/

### Mac file ###
.DS_Store

tests/test_example.cpp

./src/test/SSTable/
./src/test/dataset/
